<head><script defer src="http://127.0.0.1:8080/js/chunk-vendors.js"></script><script defer src="http://127.0.0.1:8080/js/index.js"></script></head>Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module not found: Error: Can't resolve 'C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\public\index.html' in 'C:\Users\Stanislaw\Coding\TEST\Ga  meProject\frontend'
  ModuleNotFoundError: Module not found: Error: Can't resolve 'C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\public\index.html' in 'C:\Users\Sta  nislaw\Coding\TEST\GameProject\frontend'
      at C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\webpack\lib\Compilation.js:2029:28
      at C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\webpack\lib\NormalModuleFactory.js:817:13
      at eval (eval at create (C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:10:  1)
      at C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\webpack\lib\NormalModuleFactory.js:275:22
      at eval (eval at create (C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:9:1  )
      at C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\webpack\lib\NormalModuleFactory.js:448:22
      at C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\webpack\lib\NormalModuleFactory.js:118:11
      at C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\webpack\lib\NormalModuleFactory.js:689:25
      at C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\webpack\lib\NormalModuleFactory.js:893:8
      at C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\webpack\lib\NormalModuleFactory.js:1013:5
      at C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\neo-async\async.js:6883:13
      at C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\webpack\lib\NormalModuleFactory.js:996:45
      at finishWithoutResolve (C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\enhanced-resolve\lib\Resolver.js:372:11)
      at C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\enhanced-resolve\lib\Resolver.js:461:15
      at C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\enhanced-resolve\lib\Resolver.js:519:5
      at eval (eval at create (C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:16:  1)
      at C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\enhanced-resolve\lib\Resolver.js:519:5
      at eval (eval at create (C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:16:  1)
      at C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\enhanced-resolve\lib\Resolver.js:519:5
      at eval (eval at create (C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:15:  1)
      at C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\enhanced-resolve\lib\Resolver.js:519:5
      at eval (eval at create (C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:16:  1)
      at C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\enhanced-resolve\lib\Resolver.js:519:5
      at eval (eval at create (C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:16:  1)
      at C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\enhanced-resolve\lib\Resolver.js:519:5
      at eval (eval at create (C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:16:  1)
      at C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\enhanced-resolve\lib\Resolver.js:519:5
      at eval (eval at create (C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:16:  1)
      at C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\enhanced-resolve\lib\Resolver.js:519:5
      at eval (eval at create (C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:15:  1)
      at C:\Users\Stanislaw\Coding\TEST\GameProject\frontend\node_modules\enhanced-resolve\lib\DirectoryExistsPlugin.js:41:15
      at process.processTicksAndRejections (node:internal/process/task_queues:89:21)
  
  - Compilation.js:2029 
    [frontend]/[webpack]/lib/Compilation.js:2029:28
  
  - NormalModuleFactory.js:817 
    [frontend]/[webpack]/lib/NormalModuleFactory.js:817:13
  
  
  - NormalModuleFactory.js:275 
    [frontend]/[webpack]/lib/NormalModuleFactory.js:275:22
  
  
  - NormalModuleFactory.js:448 
    [frontend]/[webpack]/lib/NormalModuleFactory.js:448:22
  
  - NormalModuleFactory.js:118 
    [frontend]/[webpack]/lib/NormalModuleFactory.js:118:11
  
  - NormalModuleFactory.js:689 
    [frontend]/[webpack]/lib/NormalModuleFactory.js:689:25
  
  - NormalModuleFactory.js:893 
    [frontend]/[webpack]/lib/NormalModuleFactory.js:893:8
  
  - NormalModuleFactory.js:1013 
    [frontend]/[webpack]/lib/NormalModuleFactory.js:1013:5
  
  - async.js:6883 
    [frontend]/[neo-async]/async.js:6883:13
  
  - NormalModuleFactory.js:996 
    [frontend]/[webpack]/lib/NormalModuleFactory.js:996:45
  
  - Resolver.js:372 finishWithoutResolve
    [frontend]/[enhanced-resolve]/lib/Resolver.js:372:11
  
  - Resolver.js:461 
    [frontend]/[enhanced-resolve]/lib/Resolver.js:461:15
  
  - Resolver.js:519 
    [frontend]/[enhanced-resolve]/lib/Resolver.js:519:5
  
  
  - Resolver.js:519 
    [frontend]/[enhanced-resolve]/lib/Resolver.js:519:5
  
  
  - Resolver.js:519 
    [frontend]/[enhanced-resolve]/lib/Resolver.js:519:5
  
  
  - Resolver.js:519 
    [frontend]/[enhanced-resolve]/lib/Resolver.js:519:5
  
  
  - Resolver.js:519 
    [frontend]/[enhanced-resolve]/lib/Resolver.js:519:5
  
  
  - Resolver.js:519 
    [frontend]/[enhanced-resolve]/lib/Resolver.js:519:5
  
  
  - Resolver.js:519 
    [frontend]/[enhanced-resolve]/lib/Resolver.js:519:5
  
  
  - Resolver.js:519 
    [frontend]/[enhanced-resolve]/lib/Resolver.js:519:5
  
  
  - DirectoryExistsPlugin.js:41 
    [frontend]/[enhanced-resolve]/lib/DirectoryExistsPlugin.js:41:15
  
  - task_queues:89 process.processTicksAndRejections
    node:internal/process/task_queues:89:21
  
  - child-compiler.js:174 
    [frontend]/[html-webpack-plugin]/lib/child-compiler.js:174:18
  
  - Compiler.js:564 finalCallback
    [frontend]/[webpack]/lib/Compiler.js:564:5
  
  - Compiler.js:590 
    [frontend]/[webpack]/lib/Compiler.js:590:11
  
  - Compiler.js:1213 
    [frontend]/[webpack]/lib/Compiler.js:1213:17
  
  
  - task_queues:105 process.processTicksAndRejections
    node:internal/process/task_queues:105:5
  
</pre>